body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #CCCCCC;
    float: right;
}

.button {
    background-color: #4CAF50;
    color: #FFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
   
}

.search {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #CCCCCC;

}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #CCCCCC;
}

.search button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #CCCCCC;
    float: left;
}
.tile {
    width: 200px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #000;
    float: left;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}